/* CSS declarations go here */


body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 0px 0px;
    width: 480px;
	height: 320px;
 	 background: white;
 	 text-align: center;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


#admin{

	width: 800px;

}

#outer{
	
	position: relative;
	width: 480px;
	height: 320px;
	text-align: center;

}

.container{
	
	text-align: center;
	background: white;

}

.innerContainer{
	
	margin: 50px;
	text-align: center;
	background: white;

}


.login {
	position: relative;
	height:23px;
	font-size:18px;
	margin: 10px 0;
}

h1{
	font-size: 40pt;
}

h2{
	font-size: 25pt;
}

.canvasContainer{
	position: relative;
	margin: 60px auto auto auto;
}

.padText{
	position: relative;
	margin: 100px auto;
}

/*----individual items -------*/

#bigwheel {
	position: relative;
	margin: 60px auto auto auto;
	width: 100px;
	height: 100px;
}

#overlay, #overlay_gray{
     position: absolute;
     left: 0px;
     top: 0px;
     width:480px;
     height:640px;
     text-align:center;
     z-index: 1000;
}


/*---admin-----*/


#table-wrapper {
  position:relative;
}
#table-scroll {
  height:300px;
  overflow:auto;  
  margin-top:20px;
}
#table-wrapper table {
  width:100%;
    
}
#table-wrapper table * {
  background:white;
  color:black;

}
#table-wrapper table thead th  {
  padding: 5px;
  text-align: left;
  width:auto;
  border:1px solid gray;
}

#table-wrapper table tbody td  {
  height:30px;
  width:auto;
  border:1px solid gray;
  padding: 5px;
}
