<template name = "gameMain">

	<div class="container">
		<h1>{{currentUser.username}} Logged In</h1>	

		{{#if isTextDisplay}}
			{{>textDisplay}}
		{{/if}}

		{{#if isXyDisplay}}
			{{>xyDisplay}}
		{{/if}}
		
		{{#if isButtonDisplay}}
			{{>buttonDisplay}}
		{{/if}}

	</div>

</template>

<template name= "textDisplay">
	<H2>A Text Display</H2>
	<H3>{{displayText}}</H3>
</template>

<template name= "xyDisplay">
	{{>XYPad}}
</template>

<template name= "buttonDisplay">
	<H2>A Button Display</H2>
</template>