<template name = "gameMain">

	<div class="container">
		<I>logged in for seat {{currentUser.username}}</I>	

		{{#if isSmallTextDisplay}}
			{{>smallTextDisplay}}
		{{/if}}
		
		{{#if isBigTextDisplay}}
			{{>bigTextDisplay}}
		{{/if}}

		{{#if isXyOnOff}}
			{{>XyOnOff}}
		{{/if}}
		
		{{#if isXyCont}}
			{{>XyCont}}
		{{/if}}
		
		{{#if isJoyPad}}
			{{>JoyPad}}
		{{/if}}
		
		{{#if isDragOnOff}}
			{{>DragOnOff}}
		{{/if}}
		
		{{#if isDragCont}}
			{{>DragCont}}
		{{/if}}
		
		{{#if isTargetPad}}
			{{>TargetPad}}
		{{/if}}
		
		{{#if isButtonDisplay}}
			{{>buttonDisplay}}
		{{/if}}

	</div>

</template>

<template name= "bigTextDisplay">
	<div class= "innerContainer">
		<H1>{{displayText}}</H1>
	</div>
</template>

<template name= "smallTextDisplay">
	<div class= "innerContainer">
		<H2>{{displayText}}</H2>
	</div>
</template>



<template name= "buttonDisplay">
	<H2>A Button Display</H2>
</template>